:root {
  font-size: 62.5%;
  background-color: white;
}

button {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.8rem;
  font-weight: 700;
  padding: 1.4rem 0;
}

#navigation-bar {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  position: absolute;
  width: 100%;
}
